<div class="product">
    <button class="buttonFavorite">
        <div class="iconFavorite"></div>                
    </button>
    <img src="images/image.png" width="240" height="240">
    <div class="title">
        Monitor LED 27'' Gamer Curvo Samsung  1920 x 1080 FHD 240 Hz HDMI, DP, Gsync Série CRG50
    </div>
    <div class="description oldPrice">R$ 2.813,99</div>
    <div class="description newPrice">R$ 2.599,00</div>
    <div class="description installment">em até <strong>10x de R$ 259,90</strong> sem juros</div>
    <button class="add"><div class="checked"></div>ADICIONAR</button>
</div>