<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<title></title>
<meta name="description" content="Teste Prático B8one">
<meta name="author" content="Leonardo Vilela">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter" rel="stylesheet">
<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<link rel="shortcut icon" href="">
</head>
<body>

    <div class="app">
        <div class="product">
            <button class="buttonFavorite">
                <div class="iconFavorite"></div>                
            </button>
            <img src="images/image.png" width="240" height="240">
            <div class="title">
                Monitor LED 27'' Gamer Curvo Samsung  1920 x 1080 FHD 240 Hz HDMI, DP, Gsync Série CRG50
            </div>
            <div class="description oldPrice">R$ 2.813,99</div>
            <div class="description newPrice">R$ 2.599,00</div>
            <div class="description installment">em até <strong>10x de R$ 259,90</strong> sem juros</div>
            <button class="add"><div class="checked"></div>ADICIONAR</button>
        </div>

        <div class="product">
            <button class="buttonFavorite">
                <div class="iconFavorite"></div>                
            </button>
            <img src="images/image.png" width="240" height="240">
            <div class="title">
                Monitor LED 27'' Gamer Curvo Samsung  1920 x 1080 FHD 240 Hz HDMI, DP, Gsync Série CRG50
            </div>
            <div class="description oldPrice">R$ 2.813,99</div>
            <div class="description newPrice">R$ 2.599,00</div>
            <div class="description installment">em até <strong>10x de R$ 259,90</strong> sem juros</div>
            <button class="added"><div class="checked"></div>ADICIONAR</button>
        </div>

        <div class="product">
            <button class="buttonFavoriteActive">
                <div class="iconFavorite"></div>                
            </button>
            <img src="images/image.png" width="240" height="240">
            <div class="title">
                Monitor LED 27'' Gamer Curvo Samsung  1920 x 1080 FHD 240 Hz HDMI, DP, Gsync Série CRG50
            </div>
            <div class="description oldPrice">R$ 2.813,99</div>
            <div class="description newPrice">R$ 2.599,00</div>
            <div class="description installment">em até <strong>10x de R$ 259,90</strong> sem juros</div>
            <button class="added"><div class="checked"></div>ADICIONAR</button>
        </div>

        
    </div>

<!-- SCRIPTS -->
<!-- Example: <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
</body>
</html>